@model IndexViewModel
@{
    ViewData["Title"] = "SGCodeChallenge";
}

<div class="text-center">
    <h1 class="display-4">SGCodeChallenge</h1>
    <label for="currencyDropdown">Seleccionar Moneda:</label>
    <select id="currencyDropdown" class="form-control" name="SelectedCurrency">
        <option value="0">Seleccionar</option>
        @foreach (var currency in Model.Currencies)
        {
            <option value="@currency.Id">@currency.Abbreviation, @currency.Name</option>
        }
    </select>    
    @if(Model.SelectedAccount != null)
    {
        <h2>@Model.SelectedAccount.Currency.Symbol @Model.SelectedAccount.Balance</h2>
        <button class="btn-primary" id="btnDeposit">Depositar</button>
        <button class="btn-secondary" id="btnWithdraw">Rescatar</button>
        <button class="btn-danger" id="btnCloseAccount">Cerrar Cuenta</button>
    }else if(Model.SelectedCurrency != 0)
    {
        <h2>No tenes una cuenta con ese fondo</h2>
        <button class="btn-primary" id="btnOpenAccount">Abrir Cuenta</button>
    }
    <p> </p>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var selectedCurrency = @Model.SelectedCurrency;
            $('#currencyDropdown').val(selectedCurrency);

            $('#currencyDropdown').change(function () {
                var SelectedCurrency = $(this).val();
                if (SelectedCurrency !== '0') {
                    var indexViewModel = @Html.Raw(Json.Serialize(Model));
                    var indexViewModel = {
                        SelectedAccount: null,
                        Currencies: @Html.Raw(Json.Serialize(Model.Currencies)),
                        SelectedCurrency: parseInt(SelectedCurrency)
                    }; 

                    console.log(JSON.stringify(indexViewModel));

                    $.ajax({
                        type: 'POST',
                        url: '/Home/GetSelectedAccount',
                        dataType: 'html', 
                        contentType: 'application/json',
                        data: JSON.stringify(indexViewModel),
                        success: function (data) {
                            window.location.href = '/Home/Index';
                        },
                        error: function () {
                            console.log('Error retrieving SelectedAccount.');
                        }
                    });
                } else {
                    $('h2').text('');
                }
            });

            $('#btnOpenAccount').click(function () {
                var indexViewModel = {
                    SelectedAccount: null,
                    Currencies: @Html.Raw(Json.Serialize(Model.Currencies)),
                    SelectedCurrency: @Model.SelectedCurrency
                };

                console.log(JSON.stringify(indexViewModel));

                $.ajax({
                    type: 'POST',
                    url: '/Home/OpenAccount',
                    dataType: 'html',
                    contentType: 'application/json',
                    data: JSON.stringify(indexViewModel),
                    success: function (data) {
                        window.location.href = '/Home/Index';
                    },
                    error: function () {
                        console.log('Error opening account.');
                    }
                });
            });
        });
    </script>
}